# Rust
/target
backend/target
Cargo.lock

# Node
node_modules
frontend/node_modules
frontend/dist

# Local storage
storage/transfers/*
storage/messages/*
!storage/transfers/.gitkeep
!storage/messages/.gitkeep

# DB
storage/*.sqlite

# Env
.env
.env.local

# OS/editor
.DS_Store
.vscode
.idea
